@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 4px; /* Scrollbar thickness */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: gray; /* Black scrollbar line */
  border-radius: 10px; /* Rounded edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #333; /* Darker shade on hover */
}
